/* font */
$primaty-kr : 'S-CoreDream-3Light';
$primaty-en : "Barlow Condensed", sans-serif;

/* color */
$gray : #cecece;
$black : #111;
$white : #fff;
$text : #767676;

/* border */
$border : 0.1vw solid $black;
$tag-border : 0.05vw solid $black;
$mobile-border : 0.25vw solid $black;

/* border-radious */
$tag : 2.5vw;
$thumb : 0.7vw 0.7vw 0 0;

/* padding */
$tag-padding : 0.3vw 0.8vw;
